DOCKER_REGISTRY_URL=docker.devops.stng.ru/devops/docker-images
UBUNTU_VERSION=22.04
ONEC_VERSION=8.5.1
ONEC_FULL_VERSION=8.5.1.1343
OSCRIPT_VERSION=2.0.1
OSCRIPT_SHA256=9abee6d780a0c133dadb8834d90e33cdb7bd90e0c1986a73ac8082c756825e14
VANESSA_RUNNER_VERSION=2.6.1
ALLURE_VERSION=2.29.0
PLATFORM_IMAGE_NAME=1c-platform
VANESSA_RUNNER_IMAGE_NAME=vanessa-runner
VANESSA_ALLURE_IMAGE_NAME=vanessa-runner-allure
V8UNPACK_IMAGE_NAME=v8unpack
V8UNPACK_VERSION=1.2.9
V8UNPACK_REF=bb0a133caaf1710a95364c478d5d36d8190d1eb1
V8UNPACK_REPOSITORY=https://github.com/Gala6585/v8unpack.git
V8UNPACK_PYTHON_BASE_IMAGE=python:3.11-slim-bookworm
INSTALL_OSCRIPT_FROM_LOCAL=true
